{% extends 'mainapp/base.html' %} {% block content %}
<title>{{title}}</title>

<!-- Content Row -->
<div class="container-lg">
  <h1 class="mt-4 text-muted">Результаты</h1>
  <h4 class="mb-4 text-muted">
    внеочередного общего собрания членов <br />
    ТСН "Новокосулино-2", <br />27 октября 2023 г.
  </h4>
  <ol class="breadcrumb bg-light">
    <li class="breadcrumb-item">
      <a href="{% url 'home' %}">Главная страница</a>
    </li>
    <li class="breadcrumb-item active">Результаты</li>
  </ol>
  <div class="card mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table id="datatablesSimple" width="100%" cellspacing="0">
          <tbody>
            <tr>
              <td>Форма проведения собрания:</td>
              <td>заочное голосование.</td>
            </tr>
            <tr>
              <td>Дата начала голосования:</td>
              <td>9 октября 2023г. 10 ч. 00 мин.</td>
            </tr>
            <tr>
              <td>Дата окончания голосования:</td>
              <td>27 октября 2023. 20 ч. 00 мин.</td>
            </tr>
            <tr>
              <td>
                Общее число членов в ТСН «Новокосулино-2» на 27.10.2023г.:
              </td>
              <td>185 человек.</td>
            </tr>
            <tr>
              <td>В заочном голосовании приняли участие:</td>
              <td>96 членов ТСН «Новокосулино-2.</td>
            </tr>
            <tr>
              <td>
                Председатель внеочередного общего собрания членов Товарищества:
              </td>
              <td>Яковлев Н.С.</td>
            </tr>
            <tr>
              <td>
                Секретарь внеочередного общего собрания членов Товарищества:
              </td>
              <td>Шмаков Е.В.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- ============================================================================= -->
    <!-- Pie Chart -->
    <!-- novokosulino\newsapp\static\newsapp\js\demo\chart-pie-demo.js -->
    <!-- id= myPieChart -->
    <div class="col-xl-4 col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
          class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
        >
          <h6 class="m-0 text-success">
            Утверждение кандидата на должность
            <span class="m-0 font-weight-bold"
              >председателя внеочередного Общего собрания членов
              Товарищества</span
            >
            - <br />
            <i>Варовина Ольга Игоревна</i>
          </h6>
          <div class="dropdown no-arrow">
            <a
              class="dropdown-toggle"
              href="#"
              role="button"
              id="dropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div
              class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
              aria-labelledby="dropdownMenuLink"
            >
              <a class="dropdown-item" href="{% url 'under_construction' %}"
                >ссылка на Протокол</a
              >
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'under_construction' %}"
                >Принятое решение</a
              >
            </div>
          </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-pie pt-4 pb-2">
            <canvas id="myPieChart"></canvas>
          </div>
          <div class="mt-4 text-center small">
            <span class="mr-2">
              <i class="fas fa-circle" style="color: #1cc88a"></i> За
            </span>
            <span class="mr-2">
              <i class="fas fa-circle" style="color: #dcde73"></i> Воздержались
            </span>
            <span class="mr-2">
              <i class="fas fa-circle" style="color: #de7373"></i> Против
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================================= -->

    <!-- Pie Chart -->
    <!-- novokosulino\newsapp\static\newsapp\js\demo\chart-pie-demo4.js -->
    <!-- id= myPieChart -->
    <div class="col-xl-4 col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
          class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
        >
          <h6 class="m-0 text-success">
            Утверждение кандидата на должность
            <span class="m-0 font-weight-bold"
              >секретаря внеочередного Общего собрания членов Товарищества</span
            >
            - <br />
            <i>Шмаков Евгений Владимирович</i>
          </h6>
          <div class="dropdown no-arrow">
            <a
              class="dropdown-toggle"
              href="#"
              role="button"
              id="dropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div
              class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
              aria-labelledby="dropdownMenuLink"
            >
              <a class="dropdown-item" href="{% url 'under_construction' %}"
                >ссылка на Протокол</a
              >
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'under_construction' %}"
                >Принятое решение</a
              >
            </div>
          </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-pie pt-4 pb-2">
            <canvas id="Secretary"></canvas>
          </div>
          <div class="mt-4 text-center small">
            <span class="mr-2">
              <i class="fas fa-circle" style="color: #1cc88a"></i> За
            </span>
            <span class="mr-2">
              <i class="fas fa-circle" style="color: #dcde73"></i> Воздержались
            </span>
            <span class="mr-2">
              <i class="fas fa-circle" style="color: #de7373"></i> Против
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================================= -->

    <!-- Pie Chart -->
    <!-- novokosulino\newsapp\static\newsapp\js\demo\chart-pie-demo.js -->
    <!-- id= myPieChart -->
    <div class="col-xl-4 col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
          class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
        >
          <h6 class="m-0 text-success">
            Утверждение кандидата на должность
            <span class="m-0 font-weight-bold"
              >председателя Правления Товарищества</span
            >
            - <br />
            <i>Варовина Ольга Игоревна, сроком на 2 (два) года</i>
          </h6>
          <div class="dropdown no-arrow">
            <a
              class="dropdown-toggle"
              href="#"
              role="button"
              id="dropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div
              class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
              aria-labelledby="dropdownMenuLink"
            >
              <a class="dropdown-item" href="{% url 'under_construction' %}"
                >ссылка на Протокол</a
              >
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'under_construction' %}"
                >Принятое решение</a
              >
            </div>
          </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-pie pt-4 pb-2">
            <canvas id="Chairman"></canvas>
          </div>
          <div class="mt-4 text-center small">
            <span class="mr-2">
              <i class="fas fa-circle" style="color: #1cc88a"></i> За
            </span>
            <span class="mr-2">
              <i class="fas fa-circle" style="color: #dcde73"></i> Воздержались
            </span>
            <span class="mr-2">
              <i class="fas fa-circle" style="color: #de7373"></i> Против
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================================= -->
    <!-- Pie Chart -->
    <!-- novokosulino\newsapp\static\newsapp\js\demo\chart-pie-demo.js -->
    <!-- id= myPieChart -->
    <div class="col-xl-4 col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
          class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
        >
          <h6 class="m-0 text-success">
            Утверждение кандидатов
            <span class="m-0 font-weight-bold"
              >ревизионной комиссии Товарищества</span
            >
            - <br />
            <i>- Ковалева Ирина Юрьевна;</i>
            - <br />
            <i>- Шварц Алиса Александровна</i>
          </h6>
          <div class="dropdown no-arrow">
            <a
              class="dropdown-toggle"
              href="#"
              role="button"
              id="dropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div
              class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
              aria-labelledby="dropdownMenuLink"
            >
              <a class="dropdown-item" href="{% url 'under_construction' %}"
                >ссылка на Протокол</a
              >
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'under_construction' %}"
                >Принятое решение</a
              >
            </div>
          </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-pie pt-4 pb-2">
            <canvas id="Revision"></canvas>
          </div>
          <div class="mt-4 text-center small">
            <span class="mr-2">
              <i class="fas fa-circle" style="color: #1cc88a"></i> За
            </span>
            <span class="mr-2">
              <i class="fas fa-circle" style="color: #dcde73"></i> Воздержались
            </span>
            <span class="mr-2">
              <i class="fas fa-circle" style="color: #de7373"></i> Против
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================================= -->

    <!-- Pie Chart -->
    <!-- novokosulino\newsapp\static\newsapp\js\demo\chart-pie-demo.js -->
    <!-- id= myPieChart -->
    <div class="col-xl-4 col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
          class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
        >
          <h6 class="m-0 text-success">
            Утверждение кандидатов
            <span class="m-0 font-weight-bold"
              >в члены Правления Товарищества</span
            >
            - <br />
            <i>- Варовина Ольга Игоревна;</i>
            <br />
            <i>- Шмаков Евгений Владимирович;</i>
            <br />
            <i>- Гайдышев Евгений Геннадьевич</i>
          </h6>
          <div class="dropdown no-arrow">
            <a
              class="dropdown-toggle"
              href="#"
              role="button"
              id="dropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div
              class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
              aria-labelledby="dropdownMenuLink"
            >
              <a class="dropdown-item" href="{% url 'under_construction' %}"
                >ссылка на Протокол</a
              >
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'under_construction' %}"
                >Принятое решение</a
              >
            </div>
          </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-pie pt-4 pb-2">
            <canvas id="StearingCommittee"></canvas>
          </div>
          <div class="mt-4 text-center small">
            <span class="mr-2">
              <i class="fas fa-circle" style="color: #1cc88a"></i> За
            </span>
            <span class="mr-2">
              <i class="fas fa-circle" style="color: #dcde73"></i> Воздержались
            </span>
            <span class="mr-2">
              <i class="fas fa-circle" style="color: #de7373"></i> Против
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================================= -->
    <!-- Pie Chart -->
    <!-- novokosulino\newsapp\static\newsapp\js\demo\chart-pie-demo.js -->
    <!-- id= myPieChart -->
    <div class="col-xl-4 col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
          class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
        >
          <h6 class="m-0 text-success">
            Утверждение
            <span class="m-0 font-weight-bold">доступа</span>
            - <br />
            для членов ревизионной комиссии к индивидуальным лицевым счетам для
            проверки корректности начислений членских взносов в Товариществе
          </h6>
          <div class="dropdown no-arrow">
            <a
              class="dropdown-toggle"
              href="#"
              role="button"
              id="dropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div
              class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
              aria-labelledby="dropdownMenuLink"
            >
              <a class="dropdown-item" href="{% url 'under_construction' %}"
                >ссылка на Протокол</a
              >
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'under_construction' %}"
                >Принятое решение</a
              >
            </div>
          </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-pie pt-4 pb-2">
            <canvas id="Access"></canvas>
          </div>
          <div class="mt-4 text-center small">
            <span class="mr-2">
              <i class="fas fa-circle" style="color: #1cc88a"></i> За
            </span>
            <span class="mr-2">
              <i class="fas fa-circle" style="color: #dcde73"></i> Воздержались
            </span>
            <span class="mr-2">
              <i class="fas fa-circle" style="color: #de7373"></i> Против
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================================= -->
  </div>
</div>

{% endblock content %}
