{% extends "mainapp/base.html" %} {% block content %}

<title>{{title}}</title>
<div class="container-lg">
  <div class="row mt-5">
    <div class="col-lg-6">
      <div class="card text-center m-3">
        <h3>Here we're testing Login/Logout without Signing possibility!!!</h3>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card text-center m-3">
        <h3>Here we're testing Login/Logout without Signing possibility!!!</h3>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
