{% extends "app_core/base.html" %} {% load static %} {% block content %}
<title>{{title}}</title>
<div class="container-lg pb-5">
  <div class="d-flex flex-column flex-sm-row justify-content-sm-around my-5">
    <img
      class=""
      src="{% static 'app_core/img/main_page/album.png' %}"
      alt="chat"
    />

    <div
      class="display-1 text-center row align-items-center justify-content-center"
      style="font-family: Lobster; opacity: 0.7"
    >
      {{title}}
    </div>
  </div>
  <!-- -------------------- История посёлка ------------------ -->
  <div class="card mb-5">
    <img
      src="{% static 'app_store/images/Novokosulino-green.png' %}"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">История посёлка</h5>
      <p class="card-text">Собраны фотографии о развитии посёлка по годам.</p>
      <a href="{% url 'archive_Novokosulino' %}" class="btn btn-secondary"
        >Перейти</a
      >
    </div>
  </div>
  <!-- -------------------- Масленица 2025 ------------------ -->
  <div class="card mb-5">
    <img
      src="{% static 'app_store/images/Spring_celebration_2025.jpg' %}"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">Празднование масленицы</h5>
      <p class="card-text">Собраны фотографии о праздновании масленицы.</p>
      <p class="card-text">
        <small class="text-body-secondary">2 марта 2025 г.</small>
      </p>
      <a href="{% url 'maslenitsa2025' %}" class="btn btn-secondary">Перейти</a>
    </div>
  </div>
  <!-- -------------------- Новый Год 2025 ------------------ -->
  <div class="card mb-5">
    <img
      src="{% static 'app_store/images/ny2025.png' %}"
      class="card-img-top"
      alt="ny2025.png"
    />
    <div class="card-body">
      <h5 class="card-title">Празднование Нового 2025 Года</h5>
      <p class="card-text">
        Собраны фотографии о праздновании Нового 2025 Года.
      </p>
      <p class="card-text">
        <small class="text-body-secondary">22 декабря 2024 г.</small>
      </p>
      <a href="{% url 'ny2025' %}" class="btn btn-secondary">Перейти</a>
    </div>
  </div>
  <!-- -------------------- Масленица 2024 ------------------ -->
  <div class="card mb-5">
    <img
      src="{% static 'app_store/images/Spring_celebration_2024.png' %}"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">Празднование масленицы</h5>
      <p class="card-text">Собраны фотографии о праздновании масленицы.</p>
      <p class="card-text">
        <small class="text-body-secondary">16 марта 2024 г.</small>
      </p>
      <a href="{% url 'maslenitsa2024' %}" class="btn btn-secondary">Перейти</a>
    </div>
  </div>
  <!-- -------------------- Новый Год 2024 ------------------ -->
  <div class="card mb-5">
    <img
      src="{% static 'app_store/images/NY-2024.png' %}"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">Празднование Нового 2024 Года</h5>
      <p class="card-text">
        Собраны фотографии о праздновании Нового 2024 Года.
      </p>
      <p class="card-text">
        <small class="text-body-secondary">17 декабря 2023 г.</small>
      </p>
      <a href="{% url 'ny2024' %}" class="btn btn-secondary">Перейти</a>
    </div>
  </div>
</div>
{% endblock content %}
