{% extends "app_core/base.html" %} {% load static %} {% block content %}

<title>{{title}}</title>

<div data-jarallax data-speed="0.2" class="jarallax p-3">
  <img
    src="{% static 'app_store/images/village/heading.png' %}"
    class="jarallax-img"
    alt="front_image of Novokosulino-2"
    style="width: 100%"
  />
</div>

<center>
  <section class="py-2">
    <div class="container mt-5">
      <div class="display-1" style="text-shadow: 5px 5px 10px #0a0002">
        История нашего посёлка
      </div>
      <hr />
      <div class="display-4">2015 г.</div>
      <div class="row g-2 g-lg-4 row-cols-1 row-cols-md-2 row-cols-lg-3 my-3">
        {% for post in posts %}
        <div class="col mb-5">
          <div class="card shadow-lg h-100">
            <div
              class="d-flex justify-content-center overflow-hidden"
              style="height: 300px"
            >
              <a href="{% url 'under_construction' %}" target="_blank">
                <img
                  class=""
                  style="height: 100%; width: auto"
                  src="{{ post.uploadedImage.url }}"
                  alt="image for news"
                />
              </a>
            </div>
            <div class="p-3">
              <div class="align-middle">{{ post.text }}</div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</center>
{% endblock content %}
