{% extends "app_core/base.html" %} {% load static %} {% block content %}

<title>{{title}}</title>

<div data-jarallax data-speed="0.2" class="jarallax p-3">
  <img
    src="{% static 'app_store/images/village/heading.png' %}"
    class="jarallax-img"
    alt="front_image of Novokosulino-2"
    style="width: 100%"
  />
</div>

<center>
  <div class="container">
    <div class="display-2">История нашего посёлка</div>
    <div class="row my-5">
      <div class="col-12">
        <div>
          <p>
            Lorem ipsum dolor sit amet. Ea unde quia non facere iste eos
            perferendis voluptas! Et numquam officiis aut quia dolores quo fugit
            unde quo dolor deserunt et beatae galisum nam porro obcaecati vel
            voluptatem odit.
          </p>
          <p>
            Id odio porro ut repudiandae voluptas id aperiam quia rem neque
            mollitia aut itaque quasi aut galisum quia aut exercitationem
            mollitia. 33 consequatur expedita rem iure dolorem est rerum
            molestias sed ipsum temporibus rem galisum praesentium qui fugiat
            nobis qui optio voluptas! Qui sunt accusamus et corporis molestias
            non veritatis dignissimos ea dicta sapiente qui molestiae eligendi
            est quibusdam esse ab quos consequuntur.
          </p>
          <p>
            Aut animi voluptas qui iste quia qui neque nesciunt sed omnis sint?
            Ut sapiente doloremque sed magni ullam sed rerum accusantium a natus
            voluptatem. Eos unde fugiat quo nesciunt tempore ut perferendis
            nulla sed voluptatem temporibus ad laborum voluptatibus sed
            consequatur porro. Et similique minus At veritatis Quis quo commodi
            voluptatibus.
          </p>
          <p>
            Et expedita animi quo aliquam debitis vel commodi nihil ut quidem
            exercitationem vel fugit sapiente eum dolores placeat vel fuga
            omnis. Hic vitae expedita aut ipsum voluptatem non perspiciatis
            minima At culpa expedita eum commodi quod. Et galisum Quis et nobis
            inventore sit veniam cumque sit deleniti dolor sit cupiditate
            provident vel accusantium deserunt sit pariatur ducimus.
          </p>
          <p>
            Est reiciendis temporibus ea quidem quae et veniam asperiores. Vel
            dicta beatae sed error ipsum vel pariatur corporis qui nemo
            consequatur et sequi quisquam nam modi fugit.
          </p>
          <p>
            Sed iusto voluptatem quo quidem pariatur ut nulla quia. Et veritatis
            error quo quam laudantium sit neque distinctio non quia numquam. Quo
            molestias velit cum error minus non sequi perspiciatis sit vitae
            ipsam. Est odio veniam qui dolor dolores et perspiciatis illum!
          </p>
          <p>
            In quam dolorem qui inventore atque qui mollitia voluptas aut
            praesentium enim eos nemo dolorem qui sint veritatis. Vel provident
            dolores aut incidunt ullam eum voluptate sapiente qui tempora
            ducimus. Id omnis quae vel architecto galisum est alias sint ex
            neque eius id numquam dignissimos hic velit odio? Est galisum fugiat
            sed cupiditate soluta id doloremque debitis.
          </p>
          <p>
            Aut repudiandae vero qui atque fuga ea internos veniam sit maiores
            suscipit aut eligendi rerum aut officia cumque. Ut assumenda illum
            non quidem ipsa cum omnis unde nam voluptatem minus.
          </p>
          <p>
            Sit sint ipsa est nulla facilis ut asperiores veniam sed nemo atque
            et rerum ipsa. Et blanditiis libero eum quod sequi eum ipsa tempore
            sit omnis harum et corrupti enim sit quidem quod ab ducimus minima.
            At magnam delectus ex magnam incidunt ad deserunt blanditiis est
            adipisci temporibus ad corporis consequatur non accusamus facere cum
            ipsam distinctio. Eum facilis quam sit quia repudiandae rem facere
            distinctio ea enim voluptatem sit molestias delectus aut optio
            repellendus hic corrupti quia.
          </p>
        </div>
        <!-- {% for post in file %}
      <h2>{{post.title}}</h2>
      <img class="card-img-top" src="{{ post.icon.url }}" alt="..." />
      <a href="{{post.file_docu.url}}" download="{{post.file_docu.url}}"
        >Загрузить</a
      >
      {% endfor %} -->
      </div>
    </div>
  </div>
</center>
{% endblock content %}
