.img-profile {
  height: 2rem;
  width: 2rem;
}

.construction {
  width: 100%;
  height: auto;
}

.box_img {
  height: 50px;
}

.box_img img {
  height: 100%;
  /* width: auto; */
}

/* ======================= 992 ========================== */

@media (max-width: 992px) {
  .member {
    font-size: 0.9rem;
  }
}

/* ======================= 768 ========================== */

@media (max-width: 768px) {
  .member {
    font-size: 0.7rem;
  }
}

/* ======================= 576 ========================== */

@media (max-width: 576px) {
  .member {
    font-size: 0.6rem;
  }
}

/* $grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
); */
