{% extends "app_core/base.html" %} {% load static %} {% block content %}

<title>{{title}}</title>

<div class="container my-3">
  <!-- ------------- если текстовое описание -------------- -->

  {% if document.content%}
  <div class="display-6">{{document.title}}</div>
  <center>
    <div class="my-5">
      <img
        class="border border-info border-2"
        src="{{document.icon.url}}"
        alt="document icon"
      />
    </div>
  </center>
  <div class="">
    {% autoescape off %}
    <p>{{document.content}}</p>
    {%endautoescape%}
  </div>
  <!-- ------------- если файл для загрузки ---------------- -->
  {% else %}
  <div class="display-6 mb-4">{{document.title}}</div>
  <div class="ratio ratio-1x1">
    <iframe
      src="{{document.file_docu.url}}#view=FitH"
      title="PDF document"
      frameborder="0"
      allowfullscreen
    ></iframe>
  </div>

  {% comment %}
  <center>
    <div class="display-6">{{document.title}}</div>
    <div class="my-5">
      <img
        class="border border-info border-2"
        src="{{document.icon.url}}"
        alt="document icon"
      />
    </div>
    <a
      href="{{document.file_docu.url}}"
      download="{{document.file_docu.url}}"
      class="download-link fs-3"
      >Загрузить себе</a
    >
  </center>
  {% endcomment %} {% endif %}
</div>

{% endblock content %}
