{% extends "app_core/base.html" %} {% load static %} {% block content %}

<center>
  <section class="py-2">
    <div class="container mt-5">
      <div class="display-1" style="text-shadow: 5px 5px 10px #0a0002">
        {{title}}
      </div>
      <hr />
      <div class="row g-2 g-lg-4 row-cols-1 row-cols-md-2 row-cols-lg-3 my-3">
        {% for achieve in achievements2024 %}
        <div class="col mb-5">
          <div class="card shadow-lg h-100">
            <div class="d-flex justify-content-center overflow-hidden py-3">
              <a
                href="{% url 'achieve' achieve.id %}"
                style="color: black; text-decoration: none"
                target="_blank"
              >
                <div class="mb-3">{{achieve.date}}</div>
                <div>
                  <img
                    class="w-100"
                    src="{{ achieve.icon.url }}"
                    alt="image for news"
                  />
                </div>
                <div class="p-2">{{achieve.text}}</div>
              </a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</center>

{% comment %} ============= Returning Button ================= {% endcomment %}

<button onclick="topFunction()" id="myBtn" title="Go to top">Наверх</button>

{% endblock content %}
