{% extends 'app_core/base.html' %} {% block content %}
<title>{{title}}</title>

<!-- Content Row -->
<div class="container-lg">
  <h1 class="mt-4 text-muted">Результаты</h1>
  <h4 class="mb-4 text-muted">
    внеочередного общего собрания членов <br />
    ТСН "Новокосулино-2", <br />23 ноября 2024 г.
  </h4>
  <ol class="breadcrumb bg-light">
    <li class="breadcrumb-item">
      <a href="{% url 'home' %}">Главная страница</a>
    </li>
    <li class="breadcrumb-item active">Результаты</li>
  </ol>
  <div class="card mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table id="datatablesSimple" width="100%" cellspacing="0">
          <tbody>
            <tr>
              <td>Форма проведения собрания:</td>
              <td>заочное голосование.</td>
            </tr>
            <tr>
              <td>Дата начала голосования:</td>
              <td>9 ноября 2024г. 10 ч. 00 мин.</td>
            </tr>
            <tr>
              <td>Дата окончания голосования:</td>
              <td>23 ноября 2023. 20 ч. 00 мин.</td>
            </tr>
            <tr>
              <td>
                Общее число членов в ТСН «Новокосулино-2» на 09.11.2024г.:
              </td>
              <td>186 участков - 1.352,40 соток.</td>
            </tr>
            <tr>
              <td>В заочном голосовании приняли участие:</td>
              <td>
                90 членов ТСН «Новокосулино-2 - 723,59 соток, что составляет
                53,50%.
              </td>
            </tr>
            <tr>
              <td>Примечание:</td>
              <td>
                2 бюллетеня не принято к голосованию по причине более одной
                отметки и дата ранее начала голосования.
              </td>
            </tr>
            <tr>
              <td>
                Председатель внеочередного общего собрания членов Товарищества:
              </td>
              <td>Варовина О.И.</td>
            </tr>
            <tr>
              <td>
                Секретарь внеочередного общего собрания членов Товарищества:
              </td>
              <td>Шмаков Е.В.</td>
            </tr>
            <tr>
              <td>Период подсчёта голосов:</td>
              <td>с 24.11.2024 по 04.12.2024</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- ============================================================================= -->
    <!-- Pie Chart -->
    <!-- novokosulino\newsapp\static\newsapp\js\demo\chart-pie-demo.js -->
    <!-- id= myPieChart -->
    <div class="col-xl-4 col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
          class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
        >
          <h6 class="m-0 text-success">
            Избрать
            <span class="m-0 font-weight-bold"
              >председателем внеочередного Общего собрания членов
              Товарищества</span
            >
            - <br />
            <i>Варовину Ольгу Игоревну</i>
          </h6>
          <div class="dropdown no-arrow">
            <a
              class="dropdown-toggle"
              href="#"
              role="button"
              id="dropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div
              class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
              aria-labelledby="dropdownMenuLink"
            >
              <a
                class="dropdown-item"
                href="{% url 'documents' %}"
                target="_blank"
                >ссылка на Протокол</a
              >
              <div class="dropdown-divider"></div>
              <a
                class="dropdown-item"
                href="{% url 'documents' %}"
                target="_blank"
                >Принятое решение</a
              >
            </div>
          </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-pie pt-4 pb-2">
            <canvas id="Chairman-2024"></canvas>
          </div>
          <div class="mt-4 text-center small">
            <span class="mr-2">
              <i class="fas fa-circle" style="color: #1cc88a"></i> За
            </span>
            <span class="mr-2">
              <i class="fas fa-circle" style="color: #dcde73"></i> Воздержались
            </span>
            <span class="mr-2">
              <i class="fas fa-circle" style="color: #de7373"></i> Против
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================================= -->

    <!-- Pie Chart -->
    <!-- novokosulino\newsapp\static\newsapp\js\demo\chart-pie-demo4.js -->
    <!-- id= myPieChart -->
    <div class="col-xl-4 col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
          class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
        >
          <h6 class="m-0 text-success">
            Избрать
            <span class="m-0 font-weight-bold"
              >секретарём внеочередного Общего собрания членов
              Товарищества</span
            >
            - <br />
            <i>Шмакова Евгения Владимировича</i>
          </h6>
          <div class="dropdown no-arrow">
            <a
              class="dropdown-toggle"
              href="#"
              role="button"
              id="dropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div
              class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
              aria-labelledby="dropdownMenuLink"
            >
              <a
                class="dropdown-item"
                href="{% url 'documents' %}"
                target="_blank"
                >ссылка на Протокол</a
              >
              <div class="dropdown-divider"></div>
              <a
                class="dropdown-item"
                href="{% url 'documents' %}"
                target="_blank"
                >Принятое решение</a
              >
            </div>
          </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-pie pt-4 pb-2">
            <canvas id="Secretary-2024"></canvas>
          </div>
          <div class="mt-4 text-center small">
            <span class="mr-2">
              <i class="fas fa-circle" style="color: #1cc88a"></i> За
            </span>
            <span class="mr-2">
              <i class="fas fa-circle" style="color: #dcde73"></i> Воздержались
            </span>
            <span class="mr-2">
              <i class="fas fa-circle" style="color: #de7373"></i> Против
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================================= -->

    <!-- Pie Chart -->
    <!-- novokosulino\newsapp\static\newsapp\js\demo\chart-pie-demo.js -->
    <!-- id= myPieChart -->
    <div class="col-xl-4 col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
          class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
        >
          <h6 class="m-0 text-success">
            Избрать
            <span class="m-0 font-weight-bold"
              >в члены Правления Товарищества</span
            >
            - <br />
            <i>Нелюбина Андрея Сергеевича</i>
          </h6>
          <div class="dropdown no-arrow">
            <a
              class="dropdown-toggle"
              href="#"
              role="button"
              id="dropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div
              class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
              aria-labelledby="dropdownMenuLink"
            >
              <a
                class="dropdown-item"
                href="{% url 'documents' %}"
                target="_blank"
                >ссылка на Протокол</a
              >
              <div class="dropdown-divider"></div>
              <a
                class="dropdown-item"
                href="{% url 'documents' %}"
                target="_blank"
                >Принятое решение</a
              >
            </div>
          </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-pie pt-4 pb-2">
            <canvas id="StearingCommittee-First-2024"></canvas>
          </div>
          <div class="mt-4 text-center small">
            <span class="mr-2">
              <i class="fas fa-circle" style="color: #1cc88a"></i> За
            </span>
            <span class="mr-2">
              <i class="fas fa-circle" style="color: #dcde73"></i> Воздержались
            </span>
            <span class="mr-2">
              <i class="fas fa-circle" style="color: #de7373"></i> Против
            </span>
          </div>
        </div>
      </div>
    </div>

    <!-- ============================================================================= -->

    <!-- Pie Chart -->
    <!-- novokosulino\newsapp\static\newsapp\js\demo\chart-pie-demo.js -->
    <!-- id= myPieChart -->
    <div class="col-xl-4 col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
          class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
        >
          <h6 class="m-0 text-success">
            Избрать
            <span class="m-0 font-weight-bold"
              >в члены Правления Товарищества</span
            >
            - <br />
            <i>Волоскова Антона Николаевича</i>
          </h6>
          <div class="dropdown no-arrow">
            <a
              class="dropdown-toggle"
              href="#"
              role="button"
              id="dropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div
              class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
              aria-labelledby="dropdownMenuLink"
            >
              <a
                class="dropdown-item"
                href="{% url 'documents' %}"
                target="_blank"
                >ссылка на Протокол</a
              >
              <div class="dropdown-divider"></div>
              <a
                class="dropdown-item"
                href="{% url 'documents' %}"
                target="_blank"
                >Принятое решение</a
              >
            </div>
          </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-pie pt-4 pb-2">
            <canvas id="StearingCommittee-Second-2024"></canvas>
          </div>
          <div class="mt-4 text-center small">
            <span class="mr-2">
              <i class="fas fa-circle" style="color: #1cc88a"></i> За
            </span>
            <span class="mr-2">
              <i class="fas fa-circle" style="color: #dcde73"></i> Воздержались
            </span>
            <span class="mr-2">
              <i class="fas fa-circle" style="color: #de7373"></i> Против
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================================= -->
    <!-- Pie Chart -->
    <!-- novokosulino\newsapp\static\newsapp\js\demo\chart-pie-demo.js -->
    <!-- id= myPieChart -->
    <div class="col-xl-4 col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
          class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
        >
          <h6 class="m-0 text-success">
            Избрать
            <span class="m-0 font-weight-bold"
              >в члены счётной комиссии Товарищества</span
            >
            - <br />
            <i>- Уфимцеву Оксану Владимировну</i>
          </h6>
          <div class="dropdown no-arrow">
            <a
              class="dropdown-toggle"
              href="#"
              role="button"
              id="dropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div
              class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
              aria-labelledby="dropdownMenuLink"
            >
              <a
                class="dropdown-item"
                href="{% url 'documents' %}"
                target="_blank"
                >ссылка на Протокол</a
              >
              <div class="dropdown-divider"></div>
              <a
                class="dropdown-item"
                href="{% url 'documents' %}"
                target="_blank"
                >Принятое решение</a
              >
            </div>
          </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-pie pt-4 pb-2">
            <canvas id="Revision-First-2024"></canvas>
          </div>
          <div class="mt-4 text-center small">
            <span class="mr-2">
              <i class="fas fa-circle" style="color: #1cc88a"></i> За
            </span>
            <span class="mr-2">
              <i class="fas fa-circle" style="color: #dcde73"></i> Воздержались
            </span>
            <span class="mr-2">
              <i class="fas fa-circle" style="color: #de7373"></i> Против
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================================= -->
    <!-- Pie Chart -->
    <!-- novokosulino\newsapp\static\newsapp\js\demo\chart-pie-demo.js -->
    <!-- id= myPieChart -->
    <div class="col-xl-4 col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
          class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
        >
          <h6 class="m-0 text-success">
            Избрать
            <span class="m-0 font-weight-bold"
              >в члены счётной комиссии Товарищества</span
            >
            - <br />
            <i>- Яковлева Николая Сергеевича</i>
          </h6>
          <div class="dropdown no-arrow">
            <a
              class="dropdown-toggle"
              href="#"
              role="button"
              id="dropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div
              class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
              aria-labelledby="dropdownMenuLink"
            >
              <a
                class="dropdown-item"
                href="{% url 'documents' %}"
                target="_blank"
                >ссылка на Протокол</a
              >
              <div class="dropdown-divider"></div>
              <a
                class="dropdown-item"
                href="{% url 'documents' %}"
                target="_blank"
                >Принятое решение</a
              >
            </div>
          </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-pie pt-4 pb-2">
            <canvas id="Revision-Second-2024"></canvas>
          </div>
          <div class="mt-4 text-center small">
            <span class="mr-2">
              <i class="fas fa-circle" style="color: #1cc88a"></i> За
            </span>
            <span class="mr-2">
              <i class="fas fa-circle" style="color: #dcde73"></i> Воздержались
            </span>
            <span class="mr-2">
              <i class="fas fa-circle" style="color: #de7373"></i> Против
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================================= -->

    <!-- Pie Chart -->
    <!-- novokosulino\newsapp\static\newsapp\js\demo\chart-pie-demo.js -->
    <!-- id= myPieChart -->
    <div class="col-xl-4 col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
          class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
        >
          <h6 class="m-0 text-success">
            Утвердить договор на возмездной основе для собственников участков
            ул. Солнечная/Ленина,
            <span class="m-0 font-weight-bold"
              >для членов ТСН "Новокосулино-2".</span
            >
          </h6>
          <div class="dropdown no-arrow">
            <a
              class="dropdown-toggle"
              href="#"
              role="button"
              id="dropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div
              class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
              aria-labelledby="dropdownMenuLink"
            >
              <a
                class="dropdown-item"
                href="{% url 'documents' %}"
                target="_blank"
                >ссылка на Протокол</a
              >
              <div class="dropdown-divider"></div>
              <a
                class="dropdown-item"
                href="{% url 'documents' %}"
                target="_blank"
                >Принятое решение</a
              >
            </div>
          </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-pie pt-4 pb-2">
            <canvas id="Solnechnaya"></canvas>
          </div>
          <div class="mt-4 text-center small">
            <span class="mr-2">
              <i class="fas fa-circle" style="color: #1cc88a"></i> За
            </span>
            <span class="mr-2">
              <i class="fas fa-circle" style="color: #dcde73"></i> Воздержались
            </span>
            <span class="mr-2">
              <i class="fas fa-circle" style="color: #de7373"></i> Против
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================================= -->

    <!-- Pie Chart -->
    <!-- novokosulino\newsapp\static\newsapp\js\demo\chart-pie-demo.js -->
    <!-- id= myPieChart -->
    <div class="col-xl-4 col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
          class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
        >
          <h6 class="m-0 text-success">
            Утвердить дополнительное соглашение
            <span class="m-0 font-weight-bold"
              >с иными (не членами ТСН "Новокосулино-2") собственниками</span
            >
            участков ул. Солнечная/Ленина на возмездное пользование местами
            общего пользования.
          </h6>
          <div class="dropdown no-arrow">
            <a
              class="dropdown-toggle"
              href="#"
              role="button"
              id="dropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div
              class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
              aria-labelledby="dropdownMenuLink"
            >
              <a
                class="dropdown-item"
                href="{% url 'documents' %}"
                target="_blank"
                >ссылка на Протокол</a
              >
              <div class="dropdown-divider"></div>
              <a
                class="dropdown-item"
                href="{% url 'documents' %}"
                target="_blank"
                >Принятое решение</a
              >
            </div>
          </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-pie pt-4 pb-2">
            <canvas id="Solnechnaya-2"></canvas>
          </div>
          <div class="mt-4 text-center small">
            <span class="mr-2">
              <i class="fas fa-circle" style="color: #1cc88a"></i> За
            </span>
            <span class="mr-2">
              <i class="fas fa-circle" style="color: #dcde73"></i> Воздержались
            </span>
            <span class="mr-2">
              <i class="fas fa-circle" style="color: #de7373"></i> Против
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================================= -->
    <!-- Pie Chart -->
    <!-- novokosulino\newsapp\static\newsapp\js\demo\chart-pie-demo.js -->
    <!-- id= myPieChart -->
    <div class="col-xl-4 col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
          class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
        >
          <h6 class="m-0 text-success">
            Утвердить
            <span class="m-0 font-weight-bold"
              >изменение местонахождения юридического адреса</span
            >
            ТСН "Новокосулино-2" по месту его фактического местонахождения.
          </h6>
          <div class="dropdown no-arrow">
            <a
              class="dropdown-toggle"
              href="#"
              role="button"
              id="dropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div
              class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
              aria-labelledby="dropdownMenuLink"
            >
              <a
                class="dropdown-item"
                href="{% url 'documents' %}"
                target="_blank"
                >ссылка на Протокол</a
              >
              <div class="dropdown-divider"></div>
              <a
                class="dropdown-item"
                href="{% url 'documents' %}"
                target="_blank"
                >Принятое решение</a
              >
            </div>
          </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="chart-pie pt-4 pb-2">
            <canvas id="Address-2024"></canvas>
          </div>
          <div class="mt-4 text-center small">
            <span class="mr-2">
              <i class="fas fa-circle" style="color: #1cc88a"></i> За
            </span>
            <span class="mr-2">
              <i class="fas fa-circle" style="color: #dcde73"></i> Воздержались
            </span>
            <span class="mr-2">
              <i class="fas fa-circle" style="color: #de7373"></i> Против
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================================= -->
  </div>
</div>

{% endblock content %}
